$pink: #d17dd1c5 !default;
$blue: #41a7e2 !default;
$grey: #857f7f !default;
$green: #45c5c5 !default;
$white: #fcf8f8 !default;
$black: #000000 !default;

$bigfont: 60px;
$medfont: 30px;
$smafont: 10px;

$first-font: 'Oswald', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;
